<h4>{{viewTitle}}</h4>
<button (click)="previous()"><</button>
<button (click)="next()">></button>
<button (click)="today()">Today</button>
<button (click)="changeMode('month')">Month</button>
<button (click)="changeMode('week')">Week</button>
<button (click)="changeMode('day')">Day</button>
<button (click)="loadEvents()">Load Events</button>

<calendar [eventSource]="eventSource"
          [calendarMode]="calendar.mode"
          [queryMode]="calendar.queryMode"
          [currentDate]="calendar.currentDate"
          (onCurrentDateChanged)="onCurrentDateChanged($event)"
          (onRangeChanged)="onRangeChanged($event)"
          (onTitleChanged)="onViewTitleChanged($event)"
          (onTimeSelected)="onTimeSelected($event)"
          (onEventSelected)="onEventSelected($event)"
          step="30"
></calendar>
