.header {
  background-color: black;
  color: #999;
  font-size: 20px;
  padding: 12px;
}

.brand, .github-link {
  display: inline-block;
}

.github-link {
  float: right;
  font-size: 16px;
}

.github-link > a {
  color: #999;
  text-decoration: none;
}
